# Copy to .local/pi.env and adjust for your Homebridge host.
PI_HOST=pi@your-homebridge-host.local
PI_DIR=/path/to/homebridge/node_modules/homebridge-wled-kit
PI_HOMEBRIDGE_DIR=/path/to/homebridge
PI_DOCKER_CONTAINER=homebridge
